# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Education\UniversityYears\3 year\First Term\AI\Assignments\AssginmentsSolutions\ConnectFour\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
